.custom-field-label {
  width: 100%;
   font-size: 0.9em;
}


.dropdown_tipo_de_titular .ui-dropdown {
  width: 100% !important;
}


p-button {
   width: 100%;
}

.account-wall {
  background-color: #c7d4da;
}

#dataPersonas tr:hover { 
  background-color: rgb(162, 157, 189);
}

#dataPersonas td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}