<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="container custom-container-nav">
    <nav>
        <div class="nav-wrapper" style="background-color: dodgerblue">
            <a href="#" class="brand-logo center">Tecso Challenge</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a (click)="logout()">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
